<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tienda_online</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.username">root</property>
  <mapping resource="hibernate/hbm/Categorias.hbm.xml"/>
  <mapping resource="hibernate/hbm/Configuracion.hbm.xml"/>
  <mapping resource="hibernate/hbm/Descuentos.hbm.xml"/>
  <mapping resource="hibernate/hbm/DetallesPedido.hbm.xml"/>
  <mapping resource="hibernate/hbm/Impuestos.hbm.xml"/>
  <mapping resource="hibernate/hbm/MetodosPago.hbm.xml"/>
  <mapping resource="hibernate/hbm/OpcionesMenu.hbm.xml"/>
  <mapping resource="hibernate/hbm/Pedidos.hbm.xml"/>
  <mapping resource="hibernate/hbm/Productos.hbm.xml"/>
  <mapping resource="hibernate/hbm/Proveedores.hbm.xml"/>
  <mapping resource="hibernate/hbm/Roles.hbm.xml"/>
  <mapping resource="hibernate/hbm/Usuarios.hbm.xml"/>
  <mapping resource="hibernate/hbm/Valoraciones.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
