<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tienda_online</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.username">root</property>
  
  <mapping resource="Categorias.hbm.xml"/>
  <mapping resource="Configuracion.hbm.xml"/>
  <mapping resource="Descuentos.hbm.xml"/>
  <mapping resource="DetallesPedido.hbm.xml"/>
  <mapping resource="Impuestos.hbm.xml"/>
  <mapping resource="MetodosPago.hbm.xml"/>
  <mapping resource="OpcionesMenu.hbm.xml"/>
  <mapping resource="Pedidos.hbm.xml"/>
  <mapping resource="Productos.hbm.xml"/>
  <mapping resource="Proveedores.hbm.xml"/>
  <mapping resource="Roles.hbm.xml"/>
  <mapping resource="Usuarios.hbm.xml"/>
  <mapping resource="Valoraciones.hbm.xml"/>
  
 </session-factory>
</hibernate-configuration>
