<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Carrito</title>
	<th:block th:replace="fragments/menu_footer_cabecera :: head">
</head>
<body>
	
	<header th:insert="fragments/menu_footer_cabecera :: menu"></header>
	<div th:insert="fragments/menu_footer_cabecera :: cabecera"></div>
	
	
	<!-- <form class="form-horizontal" th:object="${session.carrito}">
		<fieldset>

			<legend>Datos del pedido</legend>
			
			<input id="pedido_id" th:field="*{id}" name="pedido_id" type="hidden" placeholder=""
					class="form-control input-md">

			<div class="form-group">
				<label class="col-md-4 control-label" for="pedido_id_usuario">Usuario</label>
				<div class="col-md-4">
					<input th:field="*{idUsuario}" id="pedido_id_usuario" name="pedido_id_usuario" type="text" placeholder="1"
						class="form-control input-md" required="required">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="pedido_fecha">Fecha</label>
				<div class="col-md-4">
					<input th:field="*{fecha}" id="pedido_fecha" name="pedido_fecha" type="text"
						class="form-control input-md" required="required">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="pedido_metodo_pago">Método de pago</label>
				<div class="col-md-4">
					<input th:field="*{metodoPago}" id="pedido_metodo_pago" name="pedido_metodo_pago" type="text" placeholder="Pepe"
						class="form-control input-md" required="required">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="pedido_estado">Estado</label>
				<div class="col-md-4">
					<input th:field="*{estado}" id="pedido_estado" name="pedido_estado" type="text"
						placeholder="García" class="form-control input-md">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="pedido_num_factura">Número de factura</label>
				<div class="col-md-4">
					<input th:field="*{numFactura}" id="pedido_num_factura" name="pedido_num_factura" type="text"
						placeholder="García" class="form-control input-md">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="pedido_total">Total</label>
				<div class="col-md-4">
					<input th:field="*{total}" id="pedido_total" name="pedido_total" type="text"
						placeholder="Avd. Requejo" class="form-control input-md">
				</div>
			</div>

		</fieldset>
	</form>
	 -->
	
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Pedido</th>
			<th>Producto</th>
			<th>Precio unidad</th>
			<th>Unidades</th>
			<th>Impuesto</th>
			<th>Total</th>
		</tr>
		<tr th:each="detalle : ${session.carrito_detalles}">
			<td th:text="${detalle.id}"></td>
			<td th:text="${detalle.idPedido}"></td>
			<td th:text="${detalle.idProducto}"></td>
			<td th:text="${detalle.precioUnidad}"></td>
			<td th:text="${detalle.unidades}"></td>
			<td th:text="${detalle.impuesto}"></td>
			<td th:text="${detalle.total}"></td>
			
			<td>
				<a th:href="@{/carrito/delete(idProducto=${detalle.idProducto})}">Eliminar detalles de pedido</a>
			</td>
		</tr>
	</table>
	
	<footer th:insert="fragments/menu_footer_cabecera :: footer"></footer>
	
</body>
</html>