<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Carrito</title>
	<th:block th:replace="fragments/menu_footer_cabecera :: head">
</head>
<body>
	
	<header th:insert="fragments/menu_footer_cabecera :: menu"></header>
	<div th:insert="fragments/menu_footer_cabecera :: cabecera"></div>
	
	
	
	<table class="table table-striped">
		<tr>
			<td><h2 th:text="'Total: ' + ${total}"></h2></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<h3><a th:href="@{/carrito/realizar_pedido}">Realizar pedido</a></h3>
			</td>
		</tr>
		
		<tr>
			<!-- <th>Id</th> -->
			<!-- <th>Pedido</th> -->
			<th>Producto</th>
			<th>Precio unidad</th>
			<th>Unidades</th>
			<th>Impuesto</th>
			<th>Total</th>
			<th></th>
		</tr>
		<tr th:each="detalle : ${session.carrito_detalles}">
			<!-- <td th:text="${detalle.id}"></td> -->
			<!-- <td th:text="${detalle.idPedido}"></td> -->
			<td th:text="${detalle.idProducto}"></td>
			<td th:text="${detalle.precioUnidad}"></td>
			<td th:text="${detalle.unidades}"></td>
			<td th:text="${detalle.impuesto}"></td>
			<td th:text="${detalle.total}"></td>
			
			<td>
				<a th:href="@{/carrito/delete(idProducto=${detalle.idProducto})}">Eliminar detalles de pedido</a>
			</td>
		</tr>
	</table>
	
	<footer th:insert="fragments/menu_footer_cabecera :: footer"></footer>
	
</body>
</html>