<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<meta charset="ISO-8859-1">
		<title>Categoria</title>
		
		<link href="/css/styles.css" rel="stylesheet">
	
		<th:block th:replace="fragments/menu_footer_cabecera :: head">
	</head>
	<body>
	
	<header th:insert="fragments/menu_footer_cabecera :: menu"></header>
	<div th:insert="fragments/menu_footer_cabecera :: cabecera"></div>
	
		<form class="form-horizontal" th:action="@{/configuracion/edit/editar}" th:object="${configuracion}" method="post">
			<fieldset>
	
				<!-- Form Name -->
				<legend>Registro categoria</legend>
				
				<input id="id" th:field="*{id}" name="id" type="hidden"
						class="form-control input-md">
	
				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="configuracion_clave">Clave</label>
					<div>
						<input th:field="*{clave}" id="configuracion_clave" name="configuracion_clave" type="text"
							class="form-control input-md" disabled>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? 'alert-danger' : null">
					<label class="control-label" for="configuracion_valor">Valor</label>
					<div>
						<input th:field="*{valor}" id="configuracion_valor" name="configuracion_valor" type="text"
							class="form-control input-md"
							required="required"> <span class="help-block">Introduce un valor</span>
							<span class="alert-danger" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}">Errores</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="configuracion_tipo">Tipo</label>
					<div>
						<input th:field="*{tipo}" id="configuracion_tipo" name="configuracion_tipo"
							type="text" class="form-control input-md"
							required="required" disabled>
					</div>
				</div>
				
				<!-- Button -->
				<div class="form-group">
					<label class="control-label" for="registrar_bt"></label>
					<div>
						<button id="registrar_bt" name="registrar_bt"
							class="btn btn-primary">Guardar</button>
					</div>
				</div>
	
			</fieldset>
		</form>
			
	<footer th:insert="fragments/menu_footer_cabecera :: footer"></footer>
	
	</body>
</html>