<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
	
		<meta charset="utf-8">
		<title>Editar clave</title>
		<link href="/css/signin.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		
	</head>
	<body class="text-center">
		<main class="form-signin">
			<form th:action="@{/usuarios/edit_pass/editar}"  th:object="${cambiarClave}" method="post">
				<h1 class="h3 mb-3 fw-normal">Datos de acceso</h1>
				
				<div class="form-floating">
					<label for="password">Introduce la contrase&#241;a</label>
					<input th:field="*{antigua}" type="password" name="antigua" id="antigua" class="form-control" />
					<span class="alert-danger" th:if="${#fields.hasErrors('antigua')}" th:errors="*{antigua}">Errores</span>
				</div>
				<div class="form-floating">
					<label for="password">Introduce la nueva contrase&#241;a</label>
					<input th:field="*{nueva}" type="password" name="nueva" id="nueva" class="form-control" />
					<span class="alert-danger" th:if="${#fields.hasErrors('nueva')}" th:errors="*{nueva}">Errores</span>
				</div>
				<div class="form-floating">
					<label for="password">Repite la nueva contrase&#241;a</label>
					<input th:field="*{repetida}" type="password" name="repetida" id="repetida" class="form-control" />
					<span class="alert-danger" th:if="${#fields.hasErrors('repetida')}" th:errors="*{repetida}">Errores</span>
				</div>
				
				<div class="checkbox mb-3">
			      <label th:text="${error}"></label>
					<label th:text="${session.error}"></label>
			    </div>
				
				<button id="button-login" name="button-login" class="w-100 btn btn-lg btn-primary">Cambiar contre&#241;a</button>
				
				<a th:href="@{/perfil}">Cancelar</a>
			</form>
		</main>
	</body>
</html>