<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<form class="form-horizontal">
		<fieldset>

			<!-- Form Name -->
			<legend>Menu</legend>
			
			<!-- <th:block th:insert="Listado_Usuarios.html"/> -->
			<!-- <th:block th:insert="Listado_Productos.html"/> -->
			<!-- <th:block th:insert="Listado_Pedidos.html"/> -->
			
			
			<th:block th:insert="Listado_Pedidos.html"/>

		</fieldset>
	</form>

</body>
</html>