<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="ISO-8859-1">
	<title>Inicioo</title>
	
	<th:block th:replace="fragments/menu_footer_cabecera :: head">
	
</head>
<body>
	<form class="form-horizontal">
		<fieldset>

			<header th:insert="fragments/menu_footer_cabecera :: menu"></header>
			<div th:insert="fragments/menu_footer_cabecera :: cabecera"></div>
			
			<!-- <th:block th:insert="Listado_Usuarios.html"/> -->
			<th:block th:insert="Listado_Productos.html"/>
			<!-- <th:block th:insert="Listado_Pedidos.html"/> -->
			<!-- <th:block th:insert="Listado_DetallesPedidos.html"/> -->
			
			<!-- <th:block th:insert="Listado_OpcionesMenu.html"/> -->
			
			
			<h2 th:text="${session.rol}"></h2>
			
			<footer th:insert="fragments/menu_footer_cabecera :: footer"></footer>
		</fieldset>
	</form>

</body>
</html>