<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Mostrar usuarios</title>
	
	<th:block th:replace="fragments/menu_footer_cabecera :: head">
</head>
<body>
	
	<header th:insert="fragments/menu_footer_cabecera :: menu"></header>
	<div th:insert="fragments/menu_footer_cabecera :: cabecera"></div>
	
	<table class="table table-striped">
			<tr>
				<th><h2>Listado de usuarios</h2></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th><a th:href="@{/usuarios/registro}">Añadir usuario</a></th>
				<th th:if="${session.rol == 1}"></th>
			</tr>
		<tr>
			<th>Id</th>
			<th>Rol</th>
			<th>Email</th>
			<th>Clave</th>
			<th>Nombre</th>
			<th>Primer apellido</th>
			<th>Segundo apellido</th>
			<th>Dirección</th>
			<th>Localidad</th>
			<th>Provincia</th>
			<th>Teléfono</th>
			<th>DNI</th>
		</tr>
		<tr th:each="usuario : ${lista_usuarios}">
			<td th:text="${usuario.id}">Id</td>
			<td th:text="${usuario.idRol}">Rol</td>
			<td th:text="${usuario.email}">Email</td>
			<td th:text="${usuario.clave}">Clave</td>
			<td th:text="${usuario.nombre}">Nombre</td>
			<td th:text="${usuario.apellido1}">Primer apellido</td>
			<td th:text="${usuario.apellido2}">Segundo apellido</td>
			<td th:text="${usuario.direccion}">Dirección</td>
			<td th:text="${usuario.localidad}">Localidad</td>
			<td th:text="${usuario.provincia}">Provincia</td>
			<td th:text="${usuario.telefono}">Teléfono</td>
			<td th:text="${usuario.dni}">DNI</td>
			<td>
				<a th:href="@{/usuarios/edit(id=${usuario.id})}">Editar usuario</a>
			</td>
			<td>
				<a th:href="@{/usuarios/baja(id=${usuario.id})}">Dar de baja usuario</a>
			</td>
			<td th:if="${session.rol == 1}">
				<a th:href="@{/usuarios/delete(id=${usuario.id})}">Eliminar usuario</a>
			</td>
		</tr>
	</table>
	
	<footer th:insert="fragments/menu_footer_cabecera :: footer"></footer>
	
</body>
</html>