<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Categorias</title>
	
	<th:block th:replace="fragments/menu_footer_cabecera :: head">
</head>
<body>

	<header th:insert="fragments/menu_footer_cabecera :: menu"></header>
	<div th:insert="fragments/menu_footer_cabecera :: cabecera"></div>
	
	<h2 th:text="${session.rol}"></h2>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th><a th:href="@{/categorias/add}">A&#241;adir categoria</a></th>
		</tr>
		<tr th:each="categoria : ${lista_categorias}">
			<td th:text="${categoria.id}"></td>
			<td th:text="${categoria.nombre}"></td>
			<td th:text="${categoria.descripcion}" colspan="2"></td>
		</tr>
	</table>
	
	<footer th:insert="fragments/menu_footer_cabecera :: footer"></footer>
	
</body>
</html>