<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Mostrar productos</title>
	<th:block th:replace="fragments/menu_footer_cabecera :: head">
</head>
<body>

	<header th:replace="fragments/menu_footer_cabecera :: menu"></header>
	<div th:insert="fragments/menu_footer_cabecera :: cabecera"></div>
	
	<form th:replace="fragments/filtro :: filtro"></form>
	
	<h2 th:text="${session.orden}">select</h2>
	
	<div th:if="${session.rol == 1 OR session.rol == 2}" th:each="productosXcategoria : ${lista_productosXcategoria}">
		
		<table class="table table-striped">
			<tr>
				<th><h2 th:text="${productosXcategoria.categoria}"></h2></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th><a th:href="@{/productos/registro}"  th:if="${session.rol == 1 OR session.rol == 2}">A&#241;adir producto</a></th>
				<th th:if="${session.rol == 1 OR session.rol == 2}"></th>
				<th th:if="${session.rol == 1}"></th>
			</tr>
			<tr>
				<th>Id</th>
				<th>Categorias</th>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>Stock</th>
				<th>Fecha alta</th>
				<th>Fecha baja</th>
				<th>Impuesto</th>
				<th>Imagen</th>
			</tr>
			<tr th:each="producto : ${productosXcategoria.productos}">
				<td th:text="${producto.id}"></td>
				<td th:text="${producto.idCategoria}"></td>
				<td><a th:text="${producto.nombre}" th:href="@{/productos/detalles(id=${producto.id})}"></a></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.precio}"></td>
				<td th:text="${producto.stock}"></td>
				<td th:text="${producto.fechaAlta}"></td>
				<td th:text="${producto.fechaBaja}"></td>
				<td th:text="${producto.impuesto}"></td>
				<td th:text="${producto.imagen}"></td>
				
				
				<td th:if="${session.rol == 3 OR session.rol == 4}">
					<a th:href="@{/carrito/add(id=${producto.id})}">A&#241;adir al carrito</a>
				</td>
				<td th:if="${session.rol == 1 OR session.rol == 2}">
					<a th:href="@{/productos/baja(id=${producto.id})}">Dar de baja</a>
				</td>
				<td th:if="${session.rol == 1 OR session.rol == 2}">
					<a th:href="@{/productos/edit(id=${producto.id})}">Editar producto</a>
				</td>
				<td th:if="${session.rol == 1}">
					<a th:href="@{/productos/delete(id=${producto.id})}">Eliminar producto</a>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="album py-5 bg-light" th:each="productosXcategoria : ${lista_productosXcategoria}">
	    <div class="container">
	      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col">
	          <div class="card shadow-sm">
	          	<svg class="bd-placeholder-img card-img-top" style="width: 100%; heigth=225"
	            	role="img" aria-label="Placeholder: Thumbnail">
		            <title>Categoría</title>
		            <rect width="100%" height="100%" fill="#1A2090"/>
		            <text x="50%" y="50%" fill="#eceeef" dy=".3em"
		            	th:text="${productosXcategoria.categoria}"></text>
	            </svg>
	          </div>
	        </div>
			
	        <div class="col" th:each="producto : ${productosXcategoria.productos}">
	          <div class="card shadow-sm">
	          	<svg class="bd-placeholder-img card-img-top" style="width: 100%; heigth=225"
	            	role="img" aria-label="Placeholder: Thumbnail">
		            <title th:text="${producto.idCategoria}">Categoría</title>
		            <rect width="100%" height="100%" fill="#55595c"/>
		            <text x="50%" y="50%" fill="#eceeef" dy=".3em"
		             th:text="${producto.nombre}">Nombre</text>
	            </svg>
	
	            <div class="card-body">
	              <p th:text="${producto.descripcion}" class="card-text">Descripcion.Descripcion.Descripcion.Descripcion.Descripcion.Descripcion.Descripcion.Descripcion.Descripcion.Descripcion.Descripcion.Descripcion.</p>
	              <div class="d-flex justify-content-between align-items-center">
	                <div class="btn-group">
	                	<a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/productos/detalles(id=${producto.id})}">Ver</a>
	                	<a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/carrito/add(id=${producto.id})}"
	                		th:if="${session.rol == 3 OR session.rol == 4}">A&#241;adir al carrito</a>
	                	<a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/productos/edit(id=${producto.id})}"
	                		th:if="${session.rol == 1 OR session.rol == 2}">Editar</a>
	                	<a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/productos/delete(id=${producto.id})}"
	                		th:if="${session.rol == 1}">Eliminar</a>
	                </div>
	                <small class="text-muted" th:text="${producto.precio}">Precio</small>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>
	
	<footer th:replace="fragments/menu_footer_cabecera :: footer"></footer>
	
</body>
</html>