<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
	
		<meta charset="utf-8">
		<title>Login</title>
		<link href="/css/signin.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		
	</head>
	<body class="text-center">
		<main class="form-signin">
			<form th:action="${session.login_carrito == 'login_carrito'} ? @{/login/comprobar_carrito} : @{/login/comprobar}"  th:object="${usuario}" method="post">
				<h1 class="h3 mb-3 fw-normal">Datos de acceso</h1>

				<div class="form-floating">
					<label for="user">Usuario</label>
					<input th:field="*{email}" type="email" name="user" id="user" class="form-control" />
				</div>
				<div class="form-floating">
					<label for="password">Password</label>
					<input th:field="*{clave}" type="password" name="password" id="password" class="form-control" />
				</div>
				
				<div class="checkbox mb-3">
			      <label th:text="${error}"></label>
					<label th:text="${session.error}"></label>
			    </div>
				<!-- <div class="form-floating">
					<label th:text="${error}"></label>
					<label th:text="${session.error}"></label>
				</div> -->
				
				<button id="button-login" name="button-login" class="w-100 btn btn-lg btn-primary">Iniciar sesi&#243;n</button>
				
				<a th:href="@{/usuarios/registro}">Crear una cuenta</a>
				<br/>
				<a th:href="@{/}">Volver</a>
			</form>
		</main>
	</body>
</html>