<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<meta charset="ISO-8859-1">
		<title>Editar producto</title>
		
		<link href="/css/styles.css" rel="stylesheet">
	
		<th:block th:replace="fragments/menu_footer_cabecera :: head">
	</head>
	<body>
	
		<header th:replace="fragments/menu_footer_cabecera :: menu"></header>
		<div th:replace="fragments/menu_footer_cabecera :: cabecera"></div>
		
		<form class="form-horizontal" th:action="${producto.id !=0} ? @{/productos/edit/editar} : @{/productos/registro/registrar}" th:object="${producto}" method="post">
			<fieldset>
	
				<!-- Form Name -->
				<legend>Registro producto</legend>
				
				<input id="producto_id" th:field="*{id}" name="producto_id" type="hidden"
						class="form-control input-md">
	
				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="producto_id_categoria">ID
						categoria</label>
					<div>
						<input id="producto_id_categoria" name="producto_id_categoria"
							type="text" placeholder="" class="form-control input-md"
							th:field="*{idCategoria}">
						<span class="help-block">Introduce la categoria</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="producto_nombre">Nombre</label>
					<div>
						<input id="producto_nombre" name="producto_nombre" type="text"
							placeholder="" class="form-control input-md"
							th:field="*{nombre}">
						<span class="help-block">Introduce el nombre</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="producto_descripcion">Descripci&#243;n</label>
					<div>
						<input id="producto_descripcion" name="producto_descripcion"
							type="text" placeholder="" class="form-control input-md"
							th:field="*{descripcion}">
						<span class="help-block">Introduce la descripci&#243;n</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="producto_precio">Precio</label>
					<div>
						<input id="producto_precio" name="producto_precio" type="text"
							placeholder="" class="form-control input-md"
							th:field="*{precio}">
						<span class="help-block">Introduce el precio</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="producto_stock">Stock</label>
					<div>
						<input id="producto_stock" name="producto_stock" type="text"
							placeholder="" class="form-control input-md"
							th:field="*{stock}">
						<span class="help-block">Introduce el stock</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="producto_fecha_alta">Fecha
						de alta</label>
					<div>
						<input id="producto_fecha_alta" name="producto_fecha_alta"
							type="text" placeholder="" class="form-control input-md"
							th:field="*{fechaAlta}">
						<span class="help-block">Introduce la fecha de alta</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="producto_fecha_baja">Fecha
						de baja</label>
					<div>
						<input id="producto_fecha_baja" name="producto_fecha_baja"
							type="text" placeholder="" class="form-control input-md"
							th:field="*{fechaBaja}">
						<span class="help-block">Introduce la fecha de baja</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="producto_impuesto">Impuesto</label>
					<div>
						<input id="producto_impuesto" name="producto_impuesto" type="text"
							placeholder="" class="form-control input-md"
							th:field="*{impuesto}">
						<span class="help-block">Introduce el impuesto</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="producto_imagen">Imagen</label>
					<div>
						<input id="producto_imagen" name="producto_imagen" type="text"
							placeholder="" class="form-control input-md"
							th:field="*{imagen}">
						<span class="help-block">Introduce la imagen</span>
					</div>
				</div>
				
				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="registrar_bt"></label>
					<div>
						<button id="registrar_bt" name="registrar_bt"
							class="btn btn-primary">Guardar</button>
					</div>
				</div>
	
			</fieldset>
		</form>
			
		<footer th:replace="fragments/menu_footer_cabecera :: footer"></footer>
	
	</body>
</html>