<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<meta charset="ISO-8859-1">
		<title>Editar usuario</title>
	
		<th:block th:replace="fragments/menu_footer_cabecera :: head">
	</head>
	<body>
	
	<header th:insert="fragments/menu_footer_cabecera :: menu"></header>
	<div th:insert="fragments/menu_footer_cabecera :: cabecera"></div>
	
		<form class="form-horizontal" th:action="${usuario.id !=0} ? @{/usuarios/edit/editar} : @{/usuarios/registro/registrar}" th:object="${usuario}" method="post">
			<fieldset>
	
				<!-- Form Name -->
				<legend>Registro usuario</legend>
				
				<input id="id" th:field="*{id}" name="id" type="hidden" placeholder=""
						class="form-control input-md">
	
				<!-- Text input-->
				<div class="form-group" th:classappend="${#fields.hasErrors('idRol')} ? 'alert-danger' : null">
					<label class="col-md-4 control-label" for="id_rol">Rol</label>
					<div class="col-md-4">
						<input th:field="*{idRol}" id="id_rol" name="id_rol" type="text" placeholder="1"
							class="form-control input-md" required="required"> <span
							class="help-block">Introduce el rol del usuario</span>
							<span class="alert-danger" th:if="${#fields.hasErrors('idRol')}" th:errors="*{idRol}">Errores</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'alert-danger' : null">
					<label class="col-md-4 control-label" for="emial">Email</label>
					<div class="col-md-4">
						<input th:field="*{email}" id="email" name="email" type="email"
							placeholder="email@mail.com" class="form-control input-md"
							required="required"> <span class="help-block">Introduce un
							email</span>
							<span class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Errores</span>
					</div>
				</div>
	
				<!-- Password input-->
				<div class="form-group" th:classappend="${#fields.hasErrors('clave')} ? 'alert-danger' : null">
					<label class="col-md-4 control-label" for="clave">Contrase&#241;a</label>
					<div class="col-md-4">
						<input th:field="*{clave}" id="clave" name="clave" type="password" placeholder="1234"
							class="form-control input-md" required="required"> <span
							class="help-block">Introduce una contrase&#241;a</span>
							<span class="alert-danger" th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}">Errores</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="nombre">Nombre</label>
					<div class="col-md-4">
						<input th:field="*{nombre}" id="nombre" name="nombre" type="text" placeholder="Pepe"
							class="form-control input-md"> <span
							class="help-block">Introduce un nombre</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="apellido1">Primer
						apellido</label>
					<div class="col-md-4">
						<input th:field="*{apellido1}" id="apellido1" name="apellido1" type="text"
							placeholder="Garcia" class="form-control input-md"> <span
							class="help-block">Introduce el primer apellido</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="apellido2">Segundo
						apellido</label>
					<div class="col-md-4">
						<input th:field="*{apellido2}" id="apellido2" name="apellido2" type="text"
							placeholder="Garcia" class="form-control input-md"> <span
							class="help-block">Introduce el segundo apellido</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="direccion">Direccion</label>
					<div class="col-md-4">
						<input th:field="*{direccion}" id="direccion" name="direccion" type="text"
							placeholder="Avd. Requejo" class="form-control input-md">
						<span class="help-block">Introduce la direccion</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="localidad">Localidad</label>
					<div class="col-md-4">
						<input th:field="*{localidad}" id="localidad" name="localidad" type="text"
							placeholder="Zamora" class="form-control input-md"> <span
							class="help-block">Introduce la localidad</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="provincia">Provincia</label>
					<div class="col-md-4">
						<input th:field="*{provincia}" id="provincia" name="provincia" type="text"
							placeholder="Zamora" class="form-control input-md"> <span
							class="help-block">Introduce la provincia</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="telefono">Telefono</label>
					<div class="col-md-4">
						<input th:field="*{telefono}" id="telefono" name="telefono" type="text"
							placeholder="987654321" class="form-control input-md"> <span
							class="help-block">Introduce el telefono</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="dni">DNI</label>
					<div class="col-md-4">
						<input th:field="*{dni}" id="dni" name="dni" type="text" placeholder="98765432D"
							class="form-control input-md"> <span class="help-block">Introduce
							el dni</span>
					</div>
				</div>
				
				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="registrar_bt"></label>
					<div class="col-md-4">
						<button id="registrar_bt" name="registrar_bt"
							class="btn btn-primary">Guardar</button>
					</div>
				</div>
	
			</fieldset>
		</form>
			
	<footer th:insert="fragments/menu_footer_cabecera :: footer"></footer>
	
	</body>
</html>