<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Mostrar usuarios</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Rol</th>
			<th>Email</th>
			<th>Clave</th>
			<th>Nombre</th>
			<th>Primer apellido</th>
			<th>Segundo apellido</th>
			<th>Dirección</th>
			<th>Localidad</th>
			<th>Provincia</th>
			<th>Teléfono</th>
			<th>DNI</th>
		</tr>
		<tr th:each="usuario : ${lista_usuarios}">
			<td th:text="${usuario.id}">Id</td>
			<td th:text="${usuario.idRol}">Rol</td>
			<td th:text="${usuario.email}">Email</td>
			<td th:text="${usuario.clave}">Clave</td>
			<td th:text="${usuario.nombre}">Nombre</td>
			<td th:text="${usuario.apellido1}">Primer apellido</td>
			<td th:text="${usuario.apellido2}">Segundo apellido</td>
			<td th:text="${usuario.direccion}">Dirección</td>
			<td th:text="${usuario.localidad}">Localidad</td>
			<td th:text="${usuario.provincia}">Provincia</td>
			<td th:text="${usuario.telefono}">Teléfono</td>
			<td th:text="${usuario.dni}">DNI</td>
			<td>
				<a th:href="@{/usuarios/delete(id=${usuario.id})}">Eliminar usuario</a>
			</td>
			<td>
				<a th:href="@{/usuarios/edit(id=${usuario.id})}">Editar usuario</a>
			</td>
		</tr>
		<tr>
			<td><a th:href="@{/usuarios/registro}">Nuevo usuario</a></td>
		</tr>
	</table>
</body>
</html>