<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form class="form-horizontal" th:action="@{/registro/registrar}" th:object="${usuario}" method="post">
			<fieldset>
	
				<!-- Form Name -->
				<legend>Registro usuario</legend>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_id_rol">Rol</label>
					<div class="col-md-4">
						<input th:field="*{idRol}" id="usuarios_id_rol" name="usuarios_id_rol" type="text"
							class="form-control input-md" required="required"> <span
							class="help-block">Introduce el rol del usuario</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_email">Email</label>
					<div class="col-md-4">
						<input th:field="*{email}" id="usuarios_email" name="usuarios_email" type="text"
							class="form-control input-md"
							required="required"> <span class="help-block">Introduce un
							email</span>
					</div>
				</div>
	
				<!-- Password input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_clave">Contraseña</label>
					<div class="col-md-4">
						<input th:field="*{clave}" id="usuarios_clave" name="usuarios_clave" type="password"
							class="form-control input-md" required="required"> <span
							class="help-block">Introduce una contraseña</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_nombre">Nombre</label>
					<div class="col-md-4">
						<input th:field="*{nombre}" id="usuarios_nombre" name="usuarios_nombre" type="text"
							class="form-control input-md" required="required"> <span
							class="help-block">Introduce un nombre</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_apellido1">Primer
						apellido</label>
					<div class="col-md-4">
						<input th:field="*{apellido1}" id="usuarios_apellido1" name="usuarios_apellido1" type="text"
							class="form-control input-md"> <span
							class="help-block">Introduce el primer apellido</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_apellido2">Segundo
						apellido</label>
					<div class="col-md-4">
						<input th:field="*{apellido2}" id="usuarios_apellido2" name="usuarios_apellido2" type="text"
							class="form-control input-md"> <span
							class="help-block">Introduce el segundo apellido</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_direccion">Direccion</label>
					<div class="col-md-4">
						<input th:field="*{direccion}" id="usuarios_direccion" name="usuarios_direccion" type="text"
							class="form-control input-md">
						<span class="help-block">Introduce la dirección</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_localidad">Localidad</label>
					<div class="col-md-4">
						<input th:field="*{localidad}" id="usuarios_localidad" name="usuarios_localidad" type="text"
							class="form-control input-md"> <span
							class="help-block">Introduce la localidad</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_provincia">Provincia</label>
					<div class="col-md-4">
						<input th:field="*{provincia}" id="usuarios_provincia" name="usuarios_provincia" type="text"
							class="form-control input-md"> <span
							class="help-block">Introduce la provincia</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_telefono">Teléfono</label>
					<div class="col-md-4">
						<input th:field="*{telefono}" id="usuarios_telefono" name="usuarios_telefono" type="text"
							class="form-control input-md"> <span
							class="help-block">Introduce el teléfono</span>
					</div>
				</div>
	
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="usuarios_dni">DNI</label>
					<div class="col-md-4">
						<input th:field="*{dni}" id="usuarios_dni" name="usuarios_dni" type="text"
							class="form-control input-md"> <span class="help-block">Introduce
							el dni</span>
					</div>
				</div>
				
				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="registrar_bt"></label>
					<div class="col-md-4">
						<button id="registrar_bt" name="registrar_bt"
							class="btn btn-primary">Registrar usuario</button>
					</div>
				</div>
	
			</fieldset>
		</form>
</body>
</html>