<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Valoraciones</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="valoracion">
		<table class="table table-striped">
			
			<tr>
				<td>
					<h2>Valoraciones</h2>
					<!--  th:if="${session.pedido_enviado = 'enviado'}" -->
					<!--  <a th:href="@{/valoracion/add(idProducto=${producto.id})}">A&#241;adir una valoraci&#243;n</a> -->
				</td>
				<td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td>
			</tr>
			
			<th:block th:each="valoracion : ${listado_valoraciones}">
				<tr>
					<th th:text="${valoracion.idUsuario}">Usuario</th>
					<th th:text="${valoracion.valoracion}">Valoraci&#243;n</th>
					
					<th th:if="${session.usuarioLogeado != null}"><a th:if="${session.usuarioLogeado.id == valoracion.idUsuario}" th:href="@{/valoracion/edit(id=${valoracion.id})}">Editar valoraci&#243;n</a></th>
					<th th:else></th>
					
					<th th:if="${session.usuarioLogeado != null}"><a th:if="${session.usuarioLogeado.id == valoracion.idUsuario}" th:href="@{/valoracion/delete(id=${valoracion.id})}">Eliminar valoraci&#243;n</a></th>
					<th th:else></th>
				</tr>
				<tr>
					<td th:text="${valoracion.comentario}" colspan="3">Comentario</td>
				</tr>
			</th:block>
		</table>
	</div>
</body>
</html>