<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" class="h-100">
	<head th:fragment="head">
		<meta charset="UTF-8">
		<title>Inicio</title>
		
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet">
	</head>
	<body class="d-flex flex-column h-100">
		
		<!-- Menú -->
		<header th:fragment="menu">
			<!-- Fixed navbar -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">Tienda</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
							<li class="nav-item" th:each="opcion : ${opciones_menu}">
								<a class="nav-link" th:href="${opcion.url}" th:text="${opcion.nombre}">Opcion</a>
							</li>
							
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<!-- Cabecera -->
		<div class="flex-shrink-0" th:fragment="cabecera">
			<div class="container">
			    <h2 class="mt-5">Buscar producto</h2>
			    
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Buscar</button>
				</form>
		  	</div>
		</div>
		
		<!-- Footer -->
		<footer class="footer mt-auto py-3 bg-light"  th:fragment="footer">
			<div class="container">
		    	<span class="text-muted">&#174;Elia Baladrón Peral 2021</span>
			</div>
		</footer>
		
		<script src="@{/js/bootstrap.bundle.min.js}"></script>
		
	</body>
</html>